.service_section .box .img-box {
    width: 100% !important;
    height: unset !important;
    margin-top: 7px;
}

.service_section .box {
    align-items: start !important;
    text-align: left !important;
}
.service_section .box h5 {
    font-weight: bold;
}
.service_section .box span {
    color: grey;
}
.service_section .box button {
    color: black;
    font-size: 10px;
}
.business-block .img-box img{
    height: 300px;
}
/*一覧ページの各物件ボックス内のテーブル
---------------------------------------------------------------------------*/
.list table.c2 {
	font-size: 12px;	/*文字サイズ*/
	width: 100%;		/*テーブル幅*/
	margin-bottom: 5px;
}
.list table.c2,
.list table.c2 td,
.list table.c2 th {
	border: 1px solid #dcdcdc;	/*枠線の幅、線種、色*/
}
.list table.c2 td,
.list table.c2 th {
	padding: 1%;	/*テーブル内の余白*/
}
.list table.c2 th {
	width: 20%;		/*幅*/
	background: #fafafa;	/*背景色*/
}
.list table.c2 td {
	width: 30%;		/*幅*/
}
@media (max-width: 1120px) {
    .service_section .box button {
        font-size: 15px;
    }
}
@media (max-width: 480px) {
    .service_section .box button {
        font-size: 12px;
    }
  
  }