.service_section .box .img-box {
    width: 100% !important;
    height: unset !important;
    margin-top: 7px;
}

.service_section .box {
    align-items: start !important;
    text-align: left !important;
    background-color: unset;
    padding: 0px;
}

.service_section .box h5 {
    font-weight: bold;
}

.service_section .box span {
    color: grey;
}

.service_section .box button {
    color: black;
    font-size: 10px;
}
.achievements_box{
    margin-top: 5px !important;
}
/* .border_tit {
     border-left: 4px solid #00bbf0; 
    padding: 0 0 0 0.7em;
    font-size: 1.4rem;
    font-weight: 700;
    margin: 0 0 25px;

} */

.border_tit {
    position: relative;
    padding: 0.1em 0.5em;
    background: -webkit-linear-gradient(to right, #0098d8, transparent);
    background: linear-gradient(to right, #0098d8, transparent);
    /* color: #00bbf0; */
    width: 100%;
}

.sdgList_img {
    margin: 0 0 1em;
}

.sdgText {
    line-height: 2em;
}
