.fables-after-overlay {
    position: relative;
}
.fables-second-border-color {
    border-color: #00bbf0 !important;
}
.fables-page-title {
    color: #fff;
    border-left-style: solid;
    border-left-width: 9px;
    z-index: 1;
    position: relative;
    padding-left: 16px;
    margin-top: 108px;
    line-height: 80px;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 47px;
}

.fables-header {
    padding: 33px 0;
    background-image: url(../img/subBanner.jpg);

}
.fables-header-cominfo {
    padding: 33px 0;
    background-image: url(../img/compInfo.png);
}
.fables-header-humanresource {
    padding: 33px 0;
    background-image: url(../img/humanresource.png);
}
.fables-header-society {
    padding: 33px 0;
    background-image: url(../img/society.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    
}
.fables-header-contactus {
    padding: 33px 0;
    background-image: url(../img/contactus2.png);
    background-size: cover;
    background-repeat: no-repeat;
    
}
.fables-header-privacy{
    padding: 33px 0;
    background-image: url(../img/privacy.png);
    background-repeat: no-repeat;

}
.fables-after-overlay::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #1261999c;
}
.fables-header-content{
    margin-left: 39px;
}
@media (max-width: 654px) {
    .fables-header-society {
        background-size: 100% 100%;
    }
}
@media (max-width: 490px) {
    .fables-page-title {
        font-size: 38px;
    }
}
