.trade_overview .why_container {
    background: #f8f8f9;
    padding: 10px 30px 30px 30px;
}

.business_section .team_container .box {
    flex: 1;
    height: 100%;
    margin-top: 0;
    padding: 35px 20px 35px 20px;
    background: -webkit-gradient(linear, left top, left bottom, from(#3580e1), to(#2d6dc2));
    background: linear-gradient(to bottom, #3580e1, #2d6dc2);
}

.business_section .team_container .box .detail-box {
    text-align: center;
    height: auto;
}

.business_section .team_container .box .detail-box .business-box {
    margin-bottom: 0;
}

.business_section .team_container .box .detail-box h5 {
    color: #fff;
}

.business_section .team_container .box:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scaleY(0);
    transform-origin: bottom center;
    background: #71aff2;
    border-radius: 5px;
    z-index: 1;
    transition: transform 0.3s;
    flex: 0 0 92%;
    max-width: 92%;
    margin-left: 12px;
    margin-right: 12px;

}

.team_section .team_container .box .img-box,
.team_section .team_container .box .detail-box {
    position: relative;
    z-index: 2;
}

.business_section .team_container .box:hover::after {
    transform: scaleY(1);
}

.exhibition_section .box {
    margin-top: 22px;
}

.exhibition_section .box-01 {
    align-items: flex-start;
}

.exhibition_section .box-03 {
    align-items: flex-end;
}

.exhibition_section .box-01 {
    align-items: flex-start;
}

.exh-box h4 {
    border-left: 3px solid #126199;
    padding-left: 15px;
}

.exh-img-box img {
    max-width: 100%;
    max-height: 100%;
    height: 250px;
    background-color: #f8f8f9;
    padding: 20px;
    border-radius: 5px;
}

.region-img-box img {
    width: 100%;
    height: 450px;
}

.brand_section {
    background: #ecf5ff;
}

/* Zoom In #brand-image */
.brand-img-box,
.brand-img-box figure {
    width: 177px;
}

.brand-img-box figure img {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}


.brand-img-box figure .white-img-box {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    background-color: #fff;
    width: 90%;
}

.brand-img-box figure:hover img {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

@media (max-width: 1199px) {

    .brand-img-box,
    .brand-img-box figure {
        width: 100%;
    }

    .brand-img-box figure img {
        width: 100%;
    }
    .exh-img-box img {
        height: auto;
        min-height: 210px;
    }
}

@media (max-width: 1165px) {
    .business_section .team_container .box:after {
        flex: 0 0 95%;
        max-width: 95%;
    }

}
@media (max-width: 990px) {
    .exh-img-box img {
       min-height: 225px;
    }

}

@media (max-width: 768px) {
    .exh-img-box:first-child {
        align-items: center;
    }
}


@media (max-width: 643px) {

    .business_section .team_container .box .detail-box {
        height: 120px;
    }

}

